\source ./dist/index.d.ts
\import ./index

@bunny from BunnyPluginObject {
	api {
		commands
		flux
		native {
			fs
			modules
			loader
		}
		storage
		assets
		patcher
		debug
		settings
	}
	plugins
	themes
	fonts
	metro {
		common
		factories
		filters
		lazy
	}
	ui {
		components
		alerts
		color
		toasts
		styles
		settings
	}
	utils {
		constants
		logger
	}
	plugin
}
